**/.terraform/*
*.tfstate
*.tfstate.*
terraform.rc
.terraformrc
override.tf
override.tf.json
*_override.tf
*_override.tf.json
**/*.tfvars
**/**.tfvars.json
cache/**

crash.log




**/.DS_STORE
report/**
mega-linter.log
