exclude-categories:
exclude-paths:
    - ".terraform"
    - "*/.terraform"
exclude-queries:
  - e592a0c5-5bdb-414c-9066-5dba7cdea370 #IAM Access Analyzer Undefined - always disable
fail-on:
  - high
  - medium
minimal-ui: false
no-color: false
no-progress: true
preview-lines: 3
silent: false
verbose: false
